In [3]:
import pandas as pd 
import numpy as np  

#Pandas is just a library of python used for data manipulation and analysis.
#Numpy Definition: a Python library used for scientific computing.

In [4]:
df = pd.read_csv('dataset_Facebook.csv',sep=";")

In [6]:
df.head()
# DataFrame.head(n=5)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [31]:
# a. Create data subsets
# create subsets by selecting specific rows
sub1 = df[['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday']]
sub1

     Page total likes    Type  Category  Post Month  Post Weekday
0              139441   Photo         2          12             4
1              139441  Status         2          12             3
2              139441   Photo         3          12             3
3              139441   Photo         2          12             2
4              139441   Photo         2          12             2
..                ...     ...       ...         ...           ...
495             85093   Photo         3           1             7
496             81370   Photo         2           1             5
497             81370   Photo         1           1             5
498             81370   Photo         3           1             4
499             81370   Photo         2           1             4

[500 rows x 5 columns]

In [32]:
sub2 = df[['Lifetime Post reach by people who like your Page', 'Lifetime People who have liked your Page and engaged with your post']]
sub2

,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post
0,1640,119
1,6112,1108
2,1503,132
3,32048,1386
4,3200,396
...,...,...
495,2876,392
496,2104,301
497,2388,363
498,2452,370
499,2200,316

In [13]:
#create subsets by selecting specific rows based on position

temp = df.iloc[10:25]

print(temp)

    Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
10            139441  Status         2          12             5         10
11            139441   Photo         2          12             5         10
12            139441   Photo         2          12             5         10
13            139441   Photo         2          12             5          3
14            138414   Photo         2          12             4          5
15            138414  Status         2          12             3         10
16            138414   Photo         3          12             3          3
17            138414   Photo         1          12             2         12
18            138414  Status         3          12             2          3
19            138414   Photo         3          12             1         11
20            138414   Photo         2          12             1          3
21            138414   Photo         1          12             7         10
22            138414    Link         1          12             7         10
23            138414   Photo         3          12             7          3
24            138414  Status         2          12             6         10

    Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
10   0.0                      21744                            42334
11   0.0                       3112                             5590
12   0.0                       2847                             5133
13   0.0                       2549                             4896
14   1.0                      22784                            39941
15   0.0                      10060                            19680
16   0.0                       1722                             2981
17   1.0                      53264                           111785
18   0.0                       3930                             7509
19   0.0                       1591                             2825
20   0.0                       2848                             5066
21   0.0                       1384                             2467
22   0.0                       3454                             6853
23   0.0                       2723                             4888
24   0.0                       8488                            15294

    Lifetime Engaged Users  Lifetime Post Consumers  \
10                    4258                     4100
11                     208                      127
12                     193                      115
13                     249                      134
14                     887                      337
15                    1264                     1209
16                     163                      123
17                    1706                     1103
18                     130                       86
19                     121                       88
20                     200                      142
21                      15                       15
22                     118                      104
23                     176                      118
24                    1341                     1270

    Lifetime Post Consumptions  \
10                        4540
11                         145
12                         133
13                         168
14                         417
15                        1425
16                         148
17                        1655
18                         112
19                         111
20                         184
21                          20
22                         130
23                         143
24                        1489

    Lifetime Post Impressions by people who have liked your Page  \
10                                              37849
11                                               3887
12                                               3779
13                                               3631
14                                              34415
15                                              17272
16                                               1868
17                                              92512
18                                               5009
19                                               2116
20                                               3561
21                                               2196
22                                               6282
23                                               2964
24                                               9684

    Lifetime Post reach by people who like your Page  \
10                                             18952
11                                              2174
12                                              2072
13                                              1917
14                                             19312
15                                              8548
16                                              1050
17                                             39776
18                                              2410
19                                              1161
20                                              1963
21                                              1172
22                                              3100
23                                              1621
24                                              5244

    Lifetime People who have liked your Page and engaged with your post  \
10                                               3798
11                                                165
12                                                152
13                                                183
14                                                684
15                                               1162
16                                                123
17                                               1307
18                                                101
19                                                100
20                                                157
21                                                 15
22                                                106
23                                                143
24                                                995

    comment   like  share  Total Interactions
10        0  233.0   19.0                 252
11        0   88.0   18.0                 106
12        0   90.0   14.0                 104
13        5  137.0   10.0                 152
14        2  577.0   20.0                 599
15        4   86.0   18.0                 108
16        2   40.0   12.0                  54
17       15  678.0   20.0                 713
18        4   54.0   17.0                  75
19        0   34.0    8.0                  42
20        3   66.0   12.0                  81
21        0    0.0    0.0                   0
22        0   16.0    2.0                  18
23        0   72.0   24.0                  96
24        3   99.0   19.0                 121

In [18]:
# b. Merge Data
# Merge refers to combining subsets of data
# merge() allows us combine data vertically
# concat() allows us to combine data vertically as well as horizontally
pd.concat([sub1,sub2])

,Page total likes,Type,Category,Post Month,Post Weekday,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post
0,139441.0,Photo,2.0,12.0,4.0,NaN,NaN
1,139441.0,Status,2.0,12.0,3.0,NaN,NaN
2,139441.0,Photo,3.0,12.0,3.0,NaN,NaN
3,139441.0,Photo,2.0,12.0,2.0,NaN,NaN
4,139441.0,Photo,2.0,12.0,2.0,NaN,NaN
...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,NaN,NaN,2876.0,392.0
496,NaN,NaN,NaN,NaN,NaN,2104.0,301.0
497,NaN,NaN,NaN,NaN,NaN,2388.0,363.0
498,NaN,NaN,NaN,NaN,NaN,2452.0,370.0
499,NaN,NaN,NaN,NaN,NaN,2200.0,316.0

In [19]:
# c. Sort Data

# Data can be sorted using pandas sort_values() method 


df.sort_values(['Category', 'Paid'], ascending=False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
83,137177,Photo,3,11,5,10,1.0,2938,5799,321,243,379,3668,1848,236,2,101.0,19.0,122
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
167,135428,Photo,3,9,4,2,1.0,10748,19724,892,498,719,13674,7624,704,8,485.0,64.0,557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,91009,Photo,1,2,1,12,0.0,21928,39641,1512,1479,1837,6338,3672,497,0,73.0,13.0,86
477,86909,Link,1,1,6,4,0.0,39600,7927,572,496,581,12522,8176,167,1,101.0,5.0,107
485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115

In [20]:
# d. Transposing Data
# Data transpose refers to converting rows to columns 
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [28]:
# e. Shape and reshape Data
# refers to changing the structure of dataframe. 
# i.e representing same information using different shape (rows, cols)
# This can be done using pandas melt() and pivot() methods
# Lets reshape the data by applying melt()
#Pandas melt() function is used to change the DataFrame format from wide to long
df_melted = sub1.melt (id_vars = None , value_vars = None , ignore_index = False )

print(df_melted)

             variable   value
0    Page total likes  139441
1    Page total likes  139441
2    Page total likes  139441
3    Page total likes  139441
4    Page total likes  139441
..                ...     ...
495      Post Weekday       7
496      Post Weekday       5
497      Post Weekday       5
498      Post Weekday       4
499      Post Weekday       4

[2500 rows x 2 columns]

In [29]:
# pivot
# syntax : as follows
# DataFrame.pivot(columns=, index=, values=)
# note: the parametes index and values do not have default values
# lets shape the above long format data using pivot() 
# to convert it into original wide format
# pivot(), reconstructs the melted columns. 
# pivot() can not work with duplicate values in the columns 
# In such case pivot_table() is used.

df_pivoted = df_melted.pivot( columns = 'variable',values = 'value') 
print( df_pivoted)

variable Category Page total likes Post Month Post Weekday    Type
0               2           139441         12            4   Photo
1               2           139441         12            3  Status
2               3           139441         12            3   Photo
3               2           139441         12            2   Photo
4               2           139441         12            2   Photo
..            ...              ...        ...          ...     ...
495             3            85093          1            7   Photo
496             2            81370          1            5   Photo
497             1            81370          1            5   Photo
498             3            81370          1            4   Photo
499             2            81370          1            4   Photo

[500 rows x 5 columns]